body {
  min-width: 900px;
  min-height: 400px;
  background-color: #EEE;
}

h3 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #EEE;
}

p {
  font-family: 'Oswald', sans-serif;
  color: #90C3D4;
  text-align: center;
}

label {
  font-family: 'Oswald', sans-serif;
  color: #555;
  font-size: 25px;
}

ul {
  font-family: 'Lato', sans-serif;
  color: #EEE;
}

span {
  font-size: 40px;
}

form {
  width: 397px;
  margin: 30px auto;
  position: relative;
}

form input {
  height: 20px;
  position: absolute;
  bottom: 5px;
}

svg {
  margin: 0 auto;
  display: block;
}

.chart rect {
  fill: steelblue;
  stroke: #d6e9c6;
}

.center {
  width: 900px;
  margin: 0 auto;
}

.col {
  width: 27%;
  float: left;
  padding: 15px;
  margin: 10px;
  background-color: #555;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #d6e9c6;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #555;
}
